@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #F47A35;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1001;
}
.logo{
    color: #fff;
    font-size: 1.5rem;
}
.menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  color: #fff;
}

/* Sidebar padrão escondida */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #F47A35;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  padding: 2rem 1rem;
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto; /* Rolar verticalmente */
  overflow-x: auto; /* Rolar horizontalmente */
}

.sidebar.active {
  left: 0;
}

/* Overlay que escurece o fundo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(206, 151, 88, 0.5);
  display: none;
  z-index: 999;
}

.overlay.active {
  display: block;
}

.menu,
.submenu {
  list-style: none;
}

.menu > li {
  margin-bottom: 1rem;
}

.menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0.4rem 0;
}

.submenu {
  margin-left: 1rem;
  margin-top: 0.3rem;
}

/* Desktop */
@media (min-width: 769px) {
  .sidebar {
    position: static;
    height: auto;
    width: auto;
    box-shadow: none;
    display: flex;
    padding: 0;
    overflow: visible; /* <-- Evita qualquer rolagem no desktop */
  }

  .menu {
    display: flex;
    gap: 2rem;
  }

  .submenu {
    position: absolute;
    background: #F47A35;
    display: none;
    padding: 0.5rem;
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .menu > li {
    position: relative;
  }

  .menu > li:hover .submenu {
    display: block;
    background: #f47b3571;
  }

  .overlay {
    display: none !important;
  }
}
/* Exibe o botão em telas pequenas */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .sidebar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.4);
  border-radius: 10px;
}
}
